---
const {
  title,
  description,
  price,
  img = "/default.webp",
  slug,
  badgeImage = "",
} = Astro.props;
---

<a
  href={`/${slug}`}
  class="relative z-0 block flex flex-col justify-between h-full border rounded-lg shadow p-6 bg-white hover:shadow-lg hover:scale-[1.01] transition overflow-hidden"
>
  {
    badgeImage && (
      <div class="absolute top-0 left-0 w-20 h-20 z-0 pointer-events-none overflow-hidden">
        <img
          src={badgeImage}
          alt="Nuevo"
          class="w-full h-full object-contain"
        />
      </div>
    )
  }

  <div>
    <img src={img} alt={title} class="w-full h-40 object-cover rounded mb-4" />
    <h2 class="text-xl font-semibold mb-2">{title}</h2>
    <p class="mb-4 text-gray-700">{description}</p>
  </div>

  <hr class="my-4" />

  <div class="flex items-center justify-between pt-2 text-sm text-gray-700">
    <span class="font-semibold text-base text-gray-900">{price}</span>
    <span class="text-sm text-gray-500">Ver más →</span>
  </div>
</a>