---
const {
  title,
  description,
  price,
  img = "/default.webp",
  slug,
} = Astro.props;
---

<div class="flex flex-col justify-between h-full border rounded-lg shadow p-6 bg-white">
  <div>
    <img src={img} alt={title} class="w-full h-40 object-cover rounded mb-4" />
    <h2 class="text-xl font-semibold mb-2">{title}</h2>
    <p class="mb-4 text-gray-700">{description}</p>
  </div>

  <hr class="my-4" />

  <div class="flex items-center justify-between pt-2">
    <span class="text-gray-900 font-semibold">{price}</span>
    <a
      href={`/servicios/${slug}`}
      class="text-sm border border-gray-400 hover:bg-gray-100 text-gray-800 font-medium py-2 px-4 rounded transition"
    >
      Saber más
    </a>
  </div>
</div>
