---
import BaseLayout from "../../layouts/BaseLayout.astro";
import HorizontalCard from "../../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../../lib/createSlug"

export async function getStaticPaths({ paginate }) {
  const projects = await getCollection("projects");
  projects.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
  return paginate(projects, { pageSize: 10 });
}

const { page } = Astro.props;
---

<BaseLayout title="Proyectos" sideBarActiveItemID="projects">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Proyectos</div>
  </div>

  {
    page.data.length === 0 ? (
      <div class="bg-base-200 border-l-4 border-secondary w-full p-4 min-w-full">
        <p class="font-bold">¡Lo siento!</p>
        <p>Aún no hay proyectos disponibles. ¡Vuelve pronto!</p>
      </div>
    ) : (
      <ul>
        {page.data.map((project) => (
          <>
            <HorizontalCard
              title={project.data.title}
              img={project.data.image}
              desc={project.data.description}
              url={"/projects/" + createSlug(project.data.title, project.slug)}
              target="_self"
              badge={project.data.badge}
              tags={project.data.tags}
            />
            <div class="divider my-0" />
          </>
        ))}
      </ul>
    )
  }

  <div class="flex justify-between">
    {
      page.url.prev ? (
        <a href={page.url.prev} class="btn btn-ghost my-10 mx-5">
          ← Proyectos recientes
        </a>
      ) : <div />
    }
    {
      page.url.next ? (
        <a href={page.url.next} class="btn btn-ghost my-10 mx-5">
          Proyectos anteriores →
        </a>
      ) : <div />
    }
  </div>
</BaseLayout>
