---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";
import { ViewTransitions } from "astro:transitions";

import { SITE_TITLE, SITE_DESCRIPTION, TRANSITION_API } from "../config";

const {
  image,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  includeSidebar = true,
  sideBarActiveItemID,
  ogType,
  backgroundUrl,
  backgroundClasses = "brightness-[0.4]",
} = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="lofi">
  <head>
    <BaseHead
      title={title}
      description={description}
      image={image}
      ,
      ogType={ogType}
    />
    {TRANSITION_API && <ViewTransitions />}
  </head>
  <body>
    <!-- 🔽 BACKGROUND (video o imagen) -->
    <slot name="background" />

    <div class="bg-base-100 drawer lg:drawer-open">
      {
        backgroundUrl && (
          <div class="fixed top-0 right-0 bottom-0 left-0 lg:left-64 z-0 pointer-events-none">
            {backgroundUrl.endsWith(".mp4") ? (
              <video
                autoplay
                muted
                loop
                playsinline
                class={`w-full h-full object-cover object-center ${backgroundClasses}`}
              >
                <source src={backgroundUrl} type="video/mp4" />
              </video>
            ) : (
              <img
                src={backgroundUrl}
                alt=""
                class={`w-full h-full object-cover object-center ${backgroundClasses}`}
              />
            )}
            <div class="absolute inset-0 bg-white/80 backdrop-blur-sm" />
          </div>
        )
      }

      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content bg-base-100">
        <Header title={SITE_TITLE} />
        <div class="md:flex md:justify-center">
          <main
            class="px-4 py-10 max-w-[900px] mx-auto [&_ul>li]:leading-tight"
          >
            <slot />
          </main>
        </div>
        <Footer />
      </div>
      {
        includeSidebar && (
          <div class="drawer-side z-40 h-screen">
            <label for="my-drawer" class="drawer-overlay" />
            <SideBar sideBarActiveItemID={sideBarActiveItemID} />
          </div>
        )
      }
    </div>
  </body>
</html>
